body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #421d1d;
  padding: 20px;
}
h1{
color: #f09f9f;
font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;

}
img {
  max-height: 100%; 
  max-width: 100%; 
  transition: 0.1s;
  box-shadow: 100px 50px 100px #3c313c;
  border-style:ridge;
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 50px;
}
button:hover {
  transition: 0.1s;
  color: #cf1717;
  box-shadow: 100px 50px 100px #3c313c;
}

.next{
background-color: #4d1f1f;
color: #ccc;
}

.previous{
background-color: #4d1f1f;
color: #ccc;
}

.round{
  border-style:ridge;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 500px; 
}